* {
    margin: 0;
    font-family: 'Times New Roman', Times, serif
}

#container {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 3fr;
}

#header {
    background-color: rgb(151, 151, 255);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}